body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 350px;
    background-color: beige;
  }

  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;

  }



  input[type="text"] {
    padding: 5px;
    width: 150px;
    border: none;
    border-radius: 200cap;
  }
  p {
    background:white ;
    color: #1d1d1d;
    padding: 15px;
    visibility: hidden;
  }
  .container{
    background-color: rgb(218, 209, 215);
    width:450px;
    height: 400px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    margin:auto;
    border-radius: 5%;
    box-shadow: rgba(3, 3, 3, 0.35) 20px 30px 10px;

  }
  .user {
    padding:40px;
  }
 .rbutton{
    position: absolute;
    top:90px;
    left:180px;
   }
.btn-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 10px;
}
   button{
    border-radius: 10cap;
    border:none;
    height: 100%;
    background-color: rgb(10, 11, 11);
    color: white;
    width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }

   button:hover{
    scale: 1.05;
    font-size: medium;
    transition: 0.5s;
   }

   .heading{
    text-align: center;
    margin:0 auto;
    font-style:italic;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
   }